@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

$primary-color: #293039;
$secondary-color: #ec3e32;
$light-color: #fff9d0;
$light-grey: #888888;
$max-width: 1100px;
$home-font: 'Fjalla One', 'sans serif';
$about-font: 'Roboto', 'sans serif';

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $home-font;
}

a {
  text-decoration: none;
  cursor: pointer;
}

// Utility Classes
.skeleton {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-color;
  margin-bottom: 10px;
}

.container {
  max-width: $max-width;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.content-container {
  margin: auto;
  padding: 3rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hidden {
  top: -5rem !important;
}

.card-dark {
  width: 40%;
  text-align: center;
  border-radius: 15px;
  background-color: $primary-color;
  color: $light-color;
}

// Navbar
#navbar {
  height: 4.5rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: $primary-color;
  top: 0;
  transition: top 0.5s;
  font-size: 1.2rem;
  font-family: $home-font;

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    align-items: center;

    // Logo
    h2 {
      a {
        color: $secondary-color;
      }
    }

    // Menu Items
    ul {
      justify-self: end;
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;

      li,
      .active {
        display: inline-block;

        a {
          color: $light-color;
          transition: color 0.3s;

          &::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: $secondary-color;
            transition: width 0.3s;
          }

          &:hover {
            color: $secondary-color;

            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// Home Section
#home {
  height: 100vh;
  width: 100%;
  background: url('./img/home-background-4.jpg') no-repeat center fixed;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $home-font;

  #main-section {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 5rem;
      color: $light-color;
    }

    p {
      font-size: 1.5rem;
      color: $light-color;
      padding: 1rem 0;
      align-self: center;
    }

    & > #title {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 5rem;
      align-self: center;
    }

    ul {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      padding: 1rem 0;
      color: $light-color;
    }

    h2 {
      font-size: 3rem;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .transition {
    color: $primary-color;
    align-self: center;
    font-size: 2rem;
    margin-bottom: 3.5rem;
    padding: 0.5rem 3rem;
    transition: transform 0.3s;
    //background: #6e0dd0;
    background-color: $light-color;
    border-radius: 15px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

// About Section
#about {
  min-height: 95vh;
  width: 100%;

  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 5rem;
    padding-right: 5rem;

    h2 {
      font-size: 2.5rem;
      padding: 0.5rem;
      text-align: center;
    }

    img {
      height: 80vh;
      border-radius: 15px;
      align-self: center;
    }

    #about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 50%;
      font-family: $about-font;
      color: $primary-color;
      text-align: center;

      h2 {
        display: inline-block;
        margin-bottom: 3rem;
        background-color: $primary-color;
        border-radius: 25px;
        width: 50%;
        color: $light-color;
        margin-left: auto;
        margin-right: auto;
      }

      // h3 {
      //   color: $secondary-color;
      //   margin-bottom: 3rem;
      //   font-size: 1.6rem;
      // }

      p {
        color: $light-grey;
        font-size: 1.1rem;
        line-height: 2rem;
      }

      span {
        color: $secondary-color;
        font-weight: bold;
      }
    }
  }
}

// Projects Section
#projects {
  height: 100vh;
  width: 100%;
}

// Skills Section
#skills {
  height: 100vh;
  width: 100%;
}

// Experience Section
#experience {
  height: 100vh;
  width: 100%;
}

// Contact Sections
#contact {
  height: 100vh;
  width: 100%;
}

// Footer
#footer {
  height: 7.5rem;
  width: 100%;
}
