@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Serif';
}

// Utility Classes
.skeleton {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
}

// Navbar
#navbar {
  height: 4.5rem;
  width: 100%;
  position: fixed;
  z-index: 10;
}

#home {
  min-height: 100vh;
  width: 100%;
}

#footer {
  min-height: 7.5rem;
  width: 100%;
}

#projects {
  min-height: 100vh;
  width: 100%;
}

#about {
  min-height: 100vh;
  width: 100%;
}

#skills {
  min-height: 100vh;
  width: 100%;
}

#experience {
  min-height: 100vh;
  width: 100%;
}
