@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Serif';
}

a {
  text-decoration: none;
  cursor: pointer;
}

.skeleton {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.hidden {
  top: -5rem !important;
}

#navbar {
  height: 4.5rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #293039;
  top: 0;
  transition: top 0.5s;
}

#navbar .container {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  align-items: center;
}

#navbar .container h2 a {
  color: #ec3e32;
}

#navbar .container ul {
  justify-self: end;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#navbar .container ul li,
#navbar .container ul .active {
  display: inline-block;
}

#navbar .container ul li a,
#navbar .container ul .active a {
  color: white;
  transition: color 0.3s;
}

#navbar .container ul li a::after,
#navbar .container ul .active a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #ec3e32;
  transition: width 0.3s;
}

#navbar .container ul li a:hover,
#navbar .container ul .active a:hover {
  color: #ec3e32;
}

#navbar .container ul li a:hover::after,
#navbar .container ul .active a:hover::after {
  width: 100%;
}

#home {
  min-height: 100vh;
  width: 100%;
  background: url("./img/home-background-4.jpg") no-repeat center fixed;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Fjalla One', 'Serif';
}

#home #main-section {
  display: flex;
  flex-direction: column;
}

#home #main-section h1 {
  font-size: 5rem;
  color: white;
}

#home #main-section p {
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
  align-self: center;
}

#home #main-section > #title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5rem;
  align-self: center;
}

#home #main-section ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  color: white;
}

#home #main-section h2 {
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.3s;
}

#home #main-section h2:hover {
  transform: scale(1.2);
}

#home .transition {
  color: #293039;
  align-self: center;
  font-size: 2rem;
  margin-bottom: 3.5rem;
  padding: 0.5rem 3rem;
  transition: transform 0.3s;
  background-color: white;
  border-radius: 15px;
}

#home .transition:hover {
  transform: scale(1.2);
}

#projects {
  min-height: 100vh;
  width: 100%;
}

#about {
  min-height: 100vh;
  width: 100%;
}

#skills {
  min-height: 100vh;
  width: 100%;
}

#experience {
  min-height: 100vh;
  width: 100%;
}

#contact {
  min-height: 100vh;
  width: 100%;
}

#footer {
  min-height: 7.5rem;
  width: 100%;
}
