@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Serif';
}

a {
  text-decoration: none;
  cursor: pointer;
}

.skeleton {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.hidden {
  top: -5rem !important;
}

#navbar {
  height: 4.5rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #484747;
  top: 0;
  transition: top 0.5s;
}

#navbar .container {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  align-items: center;
}

#navbar .container h2 a {
  color: #ec3e32;
}

#navbar .container ul {
  justify-self: end;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#navbar .container ul li,
#navbar .container ul .active {
  display: inline-block;
}

#navbar .container ul li a,
#navbar .container ul .active a {
  color: white;
  transition: color 0.3s;
}

#navbar .container ul li a::after,
#navbar .container ul .active a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #ec3e32;
  transition: width 0.3s;
}

#navbar .container ul li a:hover,
#navbar .container ul .active a:hover {
  color: #ec3e32;
}

#navbar .container ul li a:hover::after,
#navbar .container ul .active a:hover::after {
  width: 100%;
}

#home {
  min-height: 100vh;
  width: 100%;
}

#projects {
  min-height: 100vh;
  width: 100%;
}

#about {
  min-height: 100vh;
  width: 100%;
}

#skills {
  min-height: 100vh;
  width: 100%;
}

#experience {
  min-height: 100vh;
  width: 100%;
}

#footer {
  min-height: 7.5rem;
  width: 100%;
}
